*,
*::after,
*::before {
  box-sizing: border-box;
}

div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* 以上配合中間位置  */
  align-items: center;
}

input {
  padding: 10px;
  border: 1px solid orange;
  border-radius: 50px;
}
